

<h1 class="highscores-header">Highscores</h1> 
<div class="pagination-ctr">
  <h1 class="pagi-header">Pagination</h1>
  <div class="nav-wrapper">
    <a class="navBtn left"><</a>
    <nav class="pagi-nav">
      <!-- anchors inserted with javascript-->
    </nav>
    <a class="navBtn right">></a>

  </div>
</div>

<script
  id="paginationArgs"
  data-pageCount="<%= pageCount %>"
  data-currPage="<%= currPage %>"
  data-hiScrsPerPage="<%= hiScrsPerPage %>"
  src="../public/pagination.js"
  type="module"
></script>
</div>


<div class="stdCtr highscores">
  <% if (highscores.length> 0) { %>
    <% for (const highscore of highscores) { %>
      <div class="highscore">
        <h3 class="content-header">Player info:</h3>
      <div class="content-wrapper">
        <p>Name: <%= highscore.name %></p>
        <p>Time: <%= highscore.time.toFixed(2) %>s</p>
      </div>
      <h3 class="content-header">Guesses:</h3>
      <div class="content-wrapper">
        <% highscore.guesses.forEach(guess => {  %>
          <p><%= guess %></p>
        <%}) %>
      </div>
      <h3 class="content-header">Settings:</h3>
      <div class="content-wrapper">
        <p>wordlength: <%= highscore.settings.wordLength %></p>
        <p>repeating chars: <%= highscore.settings.repeatingChars %></p>
      </div>
      </div>
      <% } %>
  <%  } %>
</div>
